[package]
name = "pahkat-rpc"
version = "0.1.5"
authors = ["Brendan Molloy <brendan@bbqsrc.net>"]
edition = "2018"

[lib]
crate-type = ["staticlib", "cdylib", "rlib"]

[dependencies]
pahkat-client = { path = "../pahkat-client-core" }
tonic = { version = "0.3.0", features = ["prost"] }
bytes = "0.5.6"
prost = "0.6"
tokio = { version = "0.2", features = ["rt-threaded", "rt-util", "time", "stream", "fs", "macros", "uds", "sync", "blocking", "signal"] }
futures = { version = "0.3", default-features = false, features = ["alloc"] }
async-stream = "0.3.0"
http = "0.2"
tower = "0.3" 
parity-tokio-ipc = { git = "https://github.com/bbqsrc/parity-tokio-ipc", features = ["tonic"] }
tokio-named-pipe = { git = "https://github.com/bbqsrc/tokio-named-pipe", features = ["tonic"] }
log = "0.4.11"
env_logger = "0.7.1"
crossbeam = "0.7.3"
cffi = { version = "0.1", features = ["url"] }
anyhow = "1.0.32"
stream-cancel = "0.6.1"
once_cell = "1.4.0"
fern = "0.6.0"
structopt = "0.3.15"
serde_json = "1.0.57"
serde = "1.0.114"
url = "2.1.1"
chrono = "0.4.13"
crossbeam-channel = "0.4.3"
thiserror = "1.0.20"
pathos = "0.2.0-pre.9"

[target.'cfg(target_os="macos")'.dependencies]
raunch = { version = "1.0.0", optional = true }

[target.'cfg(target_os="windows")'.dependencies]
windows-service = { git = "https://github.com/mullvad/windows-service-rs" }
eventlog = "0.1.0"

[build-dependencies]
tonic-build = "0.3.0"

[features]
# default = ["server"]
# server = []
# client = []
windows = ["pahkat-client/windows"]
prefix = ["pahkat-client/prefix"]
macos = ["pahkat-client/macos"]
launchd = ["macos", "raunch"]
